:host {
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}

.container {
  width: 80%;
}

.mx-auto {
  margin: 0 auto;
}

.my-1 {
  margin: 1rem auto;
}

.h2 {
  font-weight: 400;
}

.obs-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn {
  border: 0;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  border-radius: 8px;
}

.bg-blue {
  background-color: #60a5fa;
}

.check-console {
  margin: 20px auto;
}
